{% extends'base.html.twig' %}

{% block title %}{{parent()}} | Test{% endblock %}

{% block body %}


<h1>Testou</h1>

    <div>{{ mySerie.title }},{{ autreVar }}</div>
<div>

    <div>{{"now"|date('d/m/Y')}}</div>
    {# commentaire ! #}
    {% set name ="Guillaume" %}
    <h2>{{ name|upper }}</h2>

    {# crée un tableau #}

    {% set colors = ["orange", "blue", "pink"] %}
    <div> nombre de couleurs : {{ colors|length }}</div>
    <div>{{ colors|join(' / ') }}</div>


    {% for color in colors %}
        <div>{{ loop.index }}</div>
        <p style="background-color: {{ color }} ">{{ color }}</p>
    {% endfor %}

    {# un objet #}
    {% set book = {
        title: 'PifPaf',
        year: 2000,
        author: 'John Doe'} %}
    <h3>{{ book.author }}</h3>

    <div>
        {% for key, val in book %}
            <div>{{ key }}: {{ val }}</div>
        {% endfor %}
    </div>

</div>

{% endblock %}
